$font-family-base: 'Raleway', sans-serif;

$font-weight-light: 300;
$font-weight-bold: bold;

$light-coral: #F4D7D7;
$coral: #E27979;


// Inside components
$space-base: 1rem;
$space-small: 1.125rem;
$space-medium: 2.25rem;
$space-large: 3.375rem;
$space-x-large: 4.5rem;
$space-xx-large: 5.625rem;
$space-xxx-large: 6.75rem;

// Between components
$space-out-small: 1.125rem;
$space-out-medium: 2.25rem;
$space-out-large: 3.375rem;